<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <h1>Dashboard</h1>
    <table>
        <tr>
            <th>BRANCHES</th>
        </tr>
        <tr>
            <td><%= branchCount %></td>
        </tr>
    </table>
</body>
</html>
