body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #3498db, #2980b9);
    margin: 0;
}

#authForm {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#authForm div {
    margin-bottom: 10px;
}

#authForm label {
    color: #3498db;
    font-weight: bold;
}

#authForm input[type="radio"] {
    margin-right: 5px;
}

#authForm .adminForm,
#authForm .userForm {
    display: none;
}

#authForm h3 {
    color: #2980b9;
    font-size: 18px;
    margin: 10px 0;
}

#authForm .username,
#authForm .pass {
    padding: 8px;
    width: 80%;
    border: 1px solid #3498db;
    border-radius: 5px;
    outline: none;
}

#authForm button {
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#authForm button:hover {
    background: #2980b9;
}