.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    z-index: 2;
}

.close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}